/**
 * CSS for GCC administration
 */

/* Permission table */

#gcc-permission .override {

font-weight: bold;
}

#gcc-permission .group-name {

font-weight: bold;
}

#gcc-permission .group-perm .text {

padding-left: 25px;
}

/* Members administration */

#gcc-admin-member fieldset table,
#gcc-admin-member fieldset tbody,
#gcc-admin-member fieldset tr,
#gcc-admin-member fieldset td {

border: none;
margin: 0px;
padding: 0px;
}

#gcc-admin-member td .form-item,
#gcc-admin-member .form-actions {

margin: 0px;
padding: 0px;
margin-bottom: 5px;
}

#gcc-admin-member input.form-submit {

margin: 0px;
margin-right: 8px;
}
