/**
 * CSS for GCC User widget
 */

/* Buttons */

.gcc-user-widget {

padding: 3px;
background: #48a9e4;
color: #FFFFFF;
text-decoration: none;
font-weight: bold;
margin: 0px 3px;
}

a:hover .gcc-user-widget {

text-decoration: none;
}

/* Form */

.gcc-user-widget-form {

position: absolute;
z-index: 1000;
top: 100%;
left: 0px;
border: 1px solid #000000;
padding: 5px;
background: #FFFFFF;
color: #000000;
min-width: 200px;
}

.gcc-user-widget-form .form-actions {

margin: 0px;
padding: 0px;
margin-top: 5px;
}

.gcc-user-widget-form .form-actions input {

margin-bottom: 0px;
}